In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-18 14:47:25--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250118T194725Z&X-Amz-Expires=300&X-Amz-Signature=041a287f2e768a8b8c5d3792dd91145b8f7d579e715eaee3285c1ccaca8d0207&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-18 14:47:25--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250118T194725Z&X-Amz-Expires=300&X-Amz-Signature=041a287f2e768a8b8c5d3792dd91145b8f7d579e715eaee3285c1ccaca8d0207&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
connected. to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443...
200 OKequest sent, awaiting response...
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  47.0MB/s    in 0.2s

2025-01-18 14:47:26 (47.0 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [25]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz',nrows=100)

In [26]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [27]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [28]:
from sqlalchemy import create_engine

In [29]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(pd.io.sql.get_schema(df, name='green_tripdata', con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [37]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv.gz',iterator=True, chunksize=100000)

In [38]:
df_iter

In [39]:
df = next(df_iter)

In [40]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [41]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

In [42]:
df.head(n=0).to_sql(name = 'green_taxi_data', con=engine, if_exists='replace')

0

In [43]:
%time df.to_sql(name = 'green_taxi_data', con=engine, if_exists='append')

CPU times: user 2.58 s, sys: 78.1 ms, total: 2.66 s
Wall time: 4.68 s

1000

In [44]:
from time import time

In [45]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name = 'green_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk.... took %.3f second' % (t_end - t_start))

inserted another chunk.... took 4.561 second
inserted another chunk.... took 4.413 second

/var/folders/j8/zc0y0sjn7xddgwwdj6bz34nw0000gn/T/ipykernel_65650/1031643300.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk.... took 4.513 second
inserted another chunk.... took 3.170 second

StopIteration:

In [46]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-01-18 15:08:15--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:203a:b200:b:20a5:b140:21, 2600:9000:203a:3c00:b:20a5:b140:21, 2600:9000:203a:7200:b:20a5:b140:21, ...
connected. to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:203a:b200:b:20a5:b140:21|:443...
200 OKequest sent, awaiting response...
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-01-18 15:08:15 (1.15 GB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [47]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [48]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [49]:
df_zones.to_sql(con=engine, name='zones', if_exists='replace')

265